*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style-type:none;
    
}
body {
    height: 100vh;
    overflow: hidden;
    background-color: white;
}
header{
    display:flex;
    width:100%;
    height:80px;
       background-color:#eb4d4d;
    color:black;
    
}
.header-content{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex:1;   
}
.header-content a img{
    height:80px;
    width:100px;
    margin:5px 20px 0 20px;
  
   
}
.header-content a h2{
    color:#fff;
    font-size:30px;
}
.header-content button{
    margin: 0 10px;
    padding:10px 15px;
    border-radius: 5px;
}
.header-login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
 
  cursor: pointer;
  width:150px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.dropdown-toggle .icon{
  font-size:50px;
}
.dropdown-toggle .arrow{
  font-size:20px;
 
}
.dropdown-toggle span{
  border:1px solid black;

}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
 color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition:0.3s all ease;
}
.dropdown-menu a i{
  margin-right:20px;
}
.dropdown-menu a:hover{
   background-color:#eb4d4d;
   color:white;

} 
.dropdown-toggle:hover + .dropdown-menu {
  display: block;
}

button:hover{
    cursor:pointer;
}
.header-login{
    flex:1; 
       display:flex;
    align-items:center;
    justify-content:flex-end;
}
.menu .item.active {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.menu .item.active a {
    color: #000 !important;
}

.menu .item.active i {
    color: #000 !important;
}


.container {
    display: flex;
    height: calc(100vh - 80px);
   
}
.side-bar{
  background-color:#eb4d4d;
    color: #000000;
  width:280px;
    padding: 30px 0 ;
   
}
.side-bar .menu{
 width: 100%;

}

.item-logo .admin-label {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman';
  
}
.side-bar .menu .item-logo {
    height: 150px;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
   
}
.side-bar .menu .item-logo .img-profile{
     display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
  margin-bottom:10px;
    color:#000;
  width:100px;
     height:100px;
   
    border-radius:50%;
}

.side-bar .menu .item{
 position: relative;
 cursor: pointer;

 
}

.side-bar .menu .item a{
 color: #fff;
 font-size: 20px;
 text-decoration: none;
 display: flex;
 padding: 5px 30px;
 line-height: 60px;
 font-family:'Times New Roman';
  align-items:center;
}

.side-bar .menu .item a:hover{
 background: #fff;
 transition: 0.3s ease;
color:#000;
border-bottom-left-radius:50px;
border-top-left-radius:50px;
 }
.side-bar .menu .item a:hover i {
color:#000;
 }

.item i{
 margin-right:25px;
 
 color:#fff;
 font-size:30px;

}

.side-bar .menu .item a .dropdown{
 position: absolute;
 right: 0;
 margin: 20px;
 transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
 background: rgba(255, 255, 255, 0);
 display: none;
}

.side-bar .menu .item .sub-menu a{
 padding-left: 80px;
 
}

.rotate{
 transform: rotate(90deg);
}

.content {
    flex: 1;
    margin: 30px 0 30px 30px;

   padding:0px 30px 0 0;
}

.account{
    border:1px solid red;
    width:100%;
   height:100%;
   display:flex;
     background-color: #f57f7f;
}
.account-img{
    flex:1;
  
    height:100%;
    width:100%;
  
  
}
.profile {
    width: 100%;
    height: calc(100%-50%);
 
}
.profile h2{
    
     background-color:#eb4d4d;
    padding:5px 10px;
    color:#fff;
      height:40px;
}
.profile .img-preview {
    height: 200px;
    width: 300px;
   margin:10px auto;
    border-color:transparent;
    border-radius:15px;
 background-color:#fff;
 display:flex;
 align-items:center;
 justify-content:center;
}
.profile .img-btn{
    display:flex;
    align-items:center;
    justify-content:center;
   
    width:50%;
    margin:10px auto;
}
.profile .img-btn .changge-image{
    padding:15px 30px;
    border-radius:15px;
      background-color: #eb4d4d;
    transition:0.3s all ease;
    color:#fff;
    border-color:transparent;
     cursor:pointer;
}
.profile .img-btn .changge-image:hover{
    background-color:transparent;
    outline:1px solid black;
}

.password{
   
    height:calc(100% - 50%);
}
.password h2 {
    background-color: #eb4d4d;
    padding: 5px 10px;
    color: #fff;
   margin-bottom:5px;
    height: 40px;
}
.password .info-pass{
    height:60px;
 
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px 10px;
   
}

.password .info-pass .info-text{
    width:100%;
    height:100%;
    padding:15px 30px;
    border-radius:15px;
    font-size:18px;
    border-color:transparent;
}
.password .pass-btn{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    height:calc(100% - 225px);
  
}
.password .pass-btn .pass-button{
    padding:15px 30px;
    margin:0 10px;
    border-radius:15px;
    border-color:transparent;  
    cursor:pointer;
    transition:0.3s all ease;
     
    background-color:#eb4d4d;
      color:#fff;
}
.password .pass-btn .pass-button:hover{
     background-color: #f57f7f;
     outline:1px solid black;
}
.account-info {
    flex: 1;
  
    height: 100%;
    width: 100%;
  
}
.account-info h2{
    color:#fff;
    padding:5px 10px;
    height:40px;
      background-color:#eb4d4d;
   
}
.information {
    display: flex;
    width: 100%;
    height: 60px;
   
}

.information .info-lbl{
    flex:1;
    
      display:flex;
      align-items:center;
   
   
}
.information .info-lbl .info-label{
    color:#fff;
    font-size:23px;
    font-family:'Times New Roman';
    font-weight:bold;
  
    padding:0 15px;
}
.information .info-txt{
    flex:3;
   
        display:flex;
      align-items:center;
      justify-content:center;
     padding:5px 10px;
}
.information .info-txt .info-text{
     height:100%;
      width:100%;
      padding:10px 20px;
      border-radius:15px;
    border-color:transparent;
      background-color:#fff;
     cursor: not-allowed;
}
.app-pass {
  
    width: 100%;
    height: calc(100% - 410px);
    margin-top: 10px;
}
.app-pass .info-txt{
    height:60px;
  
    padding:5px 10px;
  margin:10px 0;
 
}
.app-pass .info-txt .info-text{
    width:100%;
    height:100%;
      border-radius:15px;
    border-color:transparent;
    background-color:#fff;
    padding:10px 20px;
   
}
.app-pass .info-btn{
    height:calc(100% - 120px);
  
      display:flex;
      align-items:center;
      justify-content:flex-end;
      padding:0 20px;
}
.app-pass .info-btn .smtp-btn{
      padding:15px 30px;
 
    border-radius:15px;
    border-color:transparent;  
    cursor:pointer;
    transition:0.3s all ease;
     
    background-color:#eb4d4d;
      color:#fff;
}
.app-pass .info-btn .smtp-btn:hover{
     background-color: #f57f7f;
     outline:1px solid black;
}



.profile .pass-btn .changge-image:hover {
    background-color: #f57f7f;
    outline: 1px solid black;
}
.profile .username{
    display: none;
}
