
.notifications {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px 30px 10px 5px;
   
}
.notif-data {
    height: 100%;
    border: 1px solid red;
}
.notif-head {
  
    width: 100%;
    background-color: #eb4d4d;
    height:50px;
    display:flex;   
    align-items:center;
    justify-content:flex-start;
    padding:10px;
    font-size:30px;
    color:#fff;
}
.notif-head i{
    margin: 0 10px;
}

.notif-list {
    height: calc(100% - 50px);
    width: 100%;
 
}
.notif-p {
   
    height: 49px;
}
.notif-list .class-list{
    overflow-y:scroll;
    height:calc(100% - 49px);
    width:100%;
   
}


.tabs {
    position: relative;
  
    width: 100%;
    background-color: #f57f7f;
}
.tab { 
    padding: 10px 15px;
    width: 100%;
    color: #fff;
    height:20%;
    transition:0.3s all ease;
    font-weight:bold;
}
.tab:hover{
        background-color: #eb4d4d;
      
}
.selected-tab{
    border-bottom:1px solid white;
    background-color:white;

}
.tabContents {
    padding: 10px;
    background-color: white;

    width: 100%;
    height: 89%;
}