
.reports {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
  
}
.search-room{
    width:100%;
   
   display:flex;    
   align-items:center;
   justify-content:flex-start;
   height:70px;
   padding-left:20px;
   
}

.search-room .search-txt{
   width: 900px;
    height: 50px;
    border: 1px solid black;
    border-radius: 18px;
    position: relative;
    margin-right: 30px;
    padding: 10px 20px;
    font-size: 15px;
  
}
.search-room .button-room{
    padding:15px 30px;
    border-radius:10px;
     background-color: #eb4d4d;
     color:#fff;
      border-color:transparent;
        margin-right:10px;
}
.search-room .button-room:hover{
      background-color: #f57f7f;
      color:#000;
}

.invitation-tbl{
    border:1px solid red;
    width:100%;
    height:calc(100% - 70px);
}