
.submit {
    width: 100%;
    background-color: #fff;  
    padding:0 10px;
    height:100%;
    display:flex;
}
.class-content {
    width:60%;
    height: 100%;
    padding: 10px;
  
}
.details{
    border-bottom:1px solid black;
    height:140px;
    width:100%;

}
.class-content .title{
    height:55px;
    display:flex;
    align-items:center;
  
    padding:5px 20px;
}
.class-content .title .h2{
    font-size:45px;
    font-family:'Times New Roman';
    letter-spacing:2px;
     color:#eb4d4d;
}
.class-content .name{
    display:flex;
    align-items:center;
    height:35px;
    padding:0 20px;
}
.class-content .name .h3{
    margin-right:25px;
    font-size:15px;
    width:auto;
   font-family:'Times New Roman';
   font-weight:bold;
     color:#000;
     letter-spacing:1px;
     height:100%;
      display:flex;
    align-items:center;
    
}
.class-content .name .span{
    margin-right:25px;
    font-size:15px;
    width:auto;
    color:#414141;
    font-family:'Times New Roman';
      height:100%;
       display:flex;
    align-items:center;
}
.class-content .points-date{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:35px;
    padding:0 20px;
    
}
.points-date .points {
    flex: 1;

    height: 100%;
    display:flex;
    align-items:center;
   
}
.points-date .dates {
    flex: 1;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 10px;
}
.points-date .dates span{
      font-size:15px;
    font-weight:bold;
    color:#414141;
    font-family:Arial;
    margin:10px;
}
.points-date .points span {
    font-size: 15px;
    font-weight: bold;
    color: #414141;
    font-family: Arial;
    margin-left: 0;

    height: 100%;
    display: flex;
    align-items: center;
}
.class-content .points-date .span{
    font-size:22px;
    font-weight:bold;
    color:#414141;
    font-family:Arial;
    width:auto;
    margin:5px;
}

.class-content .modules {
    border-bottom: 1px solid black;
    height: 200px;
    width: 100%;
    padding: 20px;
    overflow-y:auto;
}
.modules::-webkit-scrollbar {
    width: 10px;
}

.modules::-webkit-scrollbar-thumb {
    background-color: #eb4d4d;
    border-radius: 6px;
}


.modules::-webkit-scrollbar-track {
    background-color: transparent;
}
.class-content .modules .instructions{
    min-height:40px;
    max-height:auto;
       width:100%;
      
}
.class-content .modules .instructions .p{
    word-wrap:break-word;
    font-family:Arial;
    font-weight:100;
    font-size:17px;
    
}
.class-content .modules .file{
  height:80px;
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap;
    padding:10px 0;

}
.class-content .modules .file .files{
   width:450px;
    height:50px;

    margin:5px;
    display:flex;
    align-items:center;
}
.class-content .comments{
    height:calc(100% - 340px);
}
.class-content .comments .class-comments {

    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;

}
.class-content .comments .class-comments span{
    font-size:20px;
    letter-spacing:1px;
    font-family:Arial;
      margin-right:10px;
      font-weight:bold;
}
.class-content .comments .class-comments i{
    margin-right:10px;
    font-size:25px;
}
.class-content .comments .comment-list{
    min-height:auto;
     max-height:260px;
    overflow-y:auto;
    border-bottom:1px solid #ddd;
}
.comment-list::-webkit-scrollbar {
    width: 10px;
}

.comment-list::-webkit-scrollbar-thumb {
    background-color: #eb4d4d;
    border-radius: 6px;
}


.comment-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.class-content .comments .comment-list .announcement-head{
    display:flex;
    align-items:center;
    width:100%;
    min-height:80px;
    max-height:auto;
 
}
.class-content .comments .comment-list .announcement-head .profile{
    width:90px;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
 
}
.img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.class-content .comments .comment-list .announcement-head .info{

    height:100%;
    width: calc(100% - 90px);
}
.class-content .comments .comment-list .announcement-head .info .name{
   height:30px;
   display:flex;
   align-items:center;
}
.class-content .comments .comment-list .announcement-head .info .name h3{
    margin-right:20px;
    
}
.class-content .comments .comment-list .announcement-head .info .announcement-body{
   padding:10px 20px;
   font-family:Arial;

}
.class-content .comments .comment-list .announcement-head .info .announcement-body p{
    letter-spacing:1px;
    max-width:1200px;
    word-wrap:break-word;
}


.class-content .comments .announcement-comment {
    height: calc(100% - 300px);
    display: flex;
    align-items: center;
}
.class-content .comments .announcement-comment .i{
    flex:.3;

    height:100%;
     display: flex;
    align-items: center;
    justify-content:center;  
}
.class-content .comments .announcement-comment .i i{
   display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    color:#000;
    font-size:30px;
    border-radius:50%;
   
  
}
.class-content .comments .announcement-comment .txt{
     flex:3;
      height:100%;
       display: flex;
    align-items: center;
    justify-content:center; 
    padding: 5px 10px ;

}
.class-content .comments .announcement-comment .txt .txt-comment{
    width:100%;
    height:100%;
    padding:15px 30px;
    border-radius:25px;
    font-size:15px;
}


.class-content .comments .announcement-comment .comment-button{
    flex:.3;


    display:flex;
    align-items:center;
    width:100%;
    padding:0 10px;
   
}
.class-content .comments .announcement-comment .comment-button .btn-comment{
    height:60px;
    cursor:pointer;
   width:60px;
border-color:transparent;
transition:0.3s all ease;

    padding: 10px;
   
}
.class-content .comments .announcement-comment .comment-button .btn-comment:hover{
    opacity:0.5;
   color:#fff;
}


.class-submit {
   width:40%;
    height: 100%;
    padding: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
   
}

.class-submit .submitted, .class-submit .not-submitted{
    height:50%;
    width:100%;
    padding:10px;  

}

.submitted .works, .not-submitted .works {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    justify-content: space-between;
}
.submitted .works h2, .not-submitted .works h2{
    font-size:30px;
    font-family:'Times New Roman';
    font-weight:500;
    letter-spacing:1px;
}
.submitted .works span, .not-submitted .works span{
    font-size:20px;
    font-weight:400;
    letter-spacing:1px;
}
.submitted .work-list, .not-submitted .work-list {
    height: calc(100% - 50px);
    border: 1px solid gray;
    overflow-y: auto;
    
   
}
.work-list::-webkit-scrollbar {
    width: 10px;
}

.work-list::-webkit-scrollbar-thumb {
    background-color: #eb4d4d;
    border-radius: 6px;
}


.work-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.submitted .work-list .list, .not-submitted .work-list .list{
    border:1px solid black;
    height:50px;
    width:100%;
   margin: 10px 0;
}
.submitted .submit-btn {
    padding: 20px;
}
.class-submit .not-submitted{
   
}

table {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border-collapse: collapse;
    width: 100%;
    border-color: transparent;
    margin-top:0;
    padding:0;
}

  

.gridview {
    width: 100%;
    border-collapse: collapse;
    
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color:#ddd;
}

    .gridview th, .gridview td {
        text-align: left;
        border: 1px solid #ddd;
        color: #000;
        padding:15px;
    }

    .gridview th {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
    }

    .gridview tr {
        transition: background-color 0.3s;
    }

        .gridview tr:hover {
            background-color: #f5f5f5;
        }

    .gridview a {
        display: inline-block;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        background-color: #3498db;
        color: white;
        border-radius: 5px;
        transition: background-color 0.3s;
     
    }

        .gridview a:hover {
            background-color: #2980b9;
        }

.grade-txt {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    text-align: center;
}
.grade-btn {
    padding: 5px;
    width: 100%;
    cursor: pointer;
    transition:0.3s all ease;
    margin-top:5px;
    background-color:#ddd;
    border-radius:10px;
}
.grade-btn:hover{
    background-color: #eb4d4d;
    color:#fff;
}

.gridview1 {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #ddd;
}

    .gridview1 th, .gridview1 td {
        text-align: left;
        border: 1px solid #ddd;
        color: #000;
        padding:10px;
    }

    .gridview1 th {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
    }

    .gridview1 tr {
        transition: background-color 0.3s;
    }

        .gridview1 tr:hover {
            background-color: #f5f5f5;
        }

    .gridview1 a {
        display: inline-block;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        background-color: #3498db;
        color: white;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .gridview1 a:hover {
            background-color: #2980b9;
        }