.dashboard {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border:1px solid red;
    overflow-y:scroll;
}

.dash-list {
    width: 220px;
    height: 220px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    background-color: #eb4d4d;
}

    .dash-list i {
        font-size: 70px;
        margin: 40px 10px;
        color: #fff;
    }

    .dash-list h2 {
        color: #fff;
    }
