

.message {
    background-color: #fbfdff;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.message-content {
    border: 1px solid black;
}

h2, h3 {
    width: 100%;
    background-color: #eb4d4d;
    color: #fff;
    padding: 10px;
}

h3 {
    background-color: #cecece;
    color: #000;
    margin-top: 10px;
    font-size: 15px;
}

.area1 {
    width: 90%;
    margin: 15px 0 0 30px;
    resize: none;
    height: 70px;
    padding: 15px;
    font-size: 20px;
}

.area2 {
    width: 90%;
    margin: 15px 0 15px 30px;
    resize: none;
    height: 220px;
    padding: 15px;
    font-size: 15px;
    font-family: Arial;
}

button {
    margin: 20px;
    padding: 10px 15px;
    background-color: #eb4d4d;
    color: #fff;
    font-weight: bold;
    border-color: transparent;
    border-radius: 10px;
}

    button:hover {
        background-color: #f57f7f;
    }
