
.view-details{
    width:100%;
    height:100%;
   
    padding:20px;
}

.details-card{
    border:1px solid red;
    width:100%;
    height:600px;
}
.details-card .room-head{
      display: flex;
    height:50px;
    background-color: #eb4d4d;
    align-items:center;
}
.room-head .arrow-left {
    width: 65px;
    height: 40px;
    padding: 10px;
    transition: 0.3s all ease;
}

.arrow-left:hover {
    background-color: #f57f7f;
}

.room-head h2 {
    line-height: 40px;
    margin-left: 5px;
    color: #fff;
}

.room-prof {
    width: 100%;
    border: 1px solid red;
    height: calc(100% - 50px);
    overflow-y: scroll;
}
.room-prof .p-room{
    height:40px;
    display:flex;
   background-color: #f57f7f;
   align-items:center;
   font-size:18px;
   padding-left:20px;
  
}
.room-prof .p-room span{
    margin-right:20px;
     color:#fff;
}

.subjects{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:60px;
    border:1px solid red;
    width:100%;
   
}
.subjects .sub-lbl{
    display:flex;   
    align-items:center;
    height:100%;
    border:1px solid black;
    width:100%;
    flex:4;
}
.subjects .sub-btn{
    flex:1;
      width:100%;
       border:1px solid black;
         display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    
}
.subjects .room-subs{
    margin-left:20px;
    border:1px solid red;
}
.subjects .subj-btn{
    display:flex;
    align-items:center;
    justify-content:flex-end;   
    padding:10px 15px;
   
}