
.view-details {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 0;
    border:1px solid red;
}

.details-card {
    border: 1px solid red;
    width: 100%;
    height: 100%;

}

    .details-card .room-head {
        display: flex;
        height: 50px;
        background-color: #eb4d4d;
        align-items: center;
    }

.room-head a{
    width:60px;
  
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
}
.room-head a .arrow-left{
    font-size:30px;
    color:#fff;
}
.room-head a:hover {
    background-color: #f57f7f;
}

.room-head h2 {
    line-height: 40px;
    margin-left: 5px;
    color: #fff;
}

.room-prof {
    width: 100%;
    height: calc(100% - 50px);
   
}


.tabs {
    position: relative;
    width: 100%;
    background-color: #f57f7f;
}

.tab {
    padding: 10px 15px;
    width: 100%;
    color: #fff;
    height: 20%;
    transition: 0.3s all ease;
}

    .tab:hover {
        background-color: #eb4d4d;
       
    }

.selected-tab {
    border-bottom: 1px solid white;
  
}

.tabContents {
    padding: 10px;
    background-color: white;
    width: 100%;
    height: calc(100% - 8%);

}

.members{
    display:flex;
 
    width:100%;
  height:100%;
  padding:10px;

}
.members .instructor{
    flex:1;
 
   
    width:100%;
    
}
.instructor .owner{
 
   
    
    height:50%;
}
.instructor .owner h2{
    width:100%;   
     color:#000;
     height:30px;
   padding:0 10px;
  
   margin-bottom:20px;
}
.instructor .owner .lbl-owner{
   
    margin:20px 20px;
  display:flex;
    color: #eb4d4d;
    padding:10px;
    font-weight:bold;
   font-family:'Times New Roman';
    font-size:25px;
}
.instructor .co-owner h2{
    width:100%;
     color:#000;
     height:30px;
   padding:0 10px;
}
.instructor .co-owner {
   
    height: 50%;
}

.members .students{
    flex:2;
 border:1px solid black;
   padding:10px;
  
}
.students .student-txt{
    width:100%;
  
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:50px;
}
.students .student-txt .search-student{
    width:450px;
    height:40px;
    padding:15px;
    border-radius:10px;
}
.students .student-txt span{
    font-size:18px;
    font-weight:bold;

}
.students .student-txt .student-btn{
    height:40px;
    width:120px;
    border-radius:10px;
       background-color: #eb4d4d;
      border-color:transparent;
      color:#fff;
      transition:0.3s all ease;
      cursor:pointer;
}
.students .student-txt .student-btn:hover {
    color: #000;
    background-color: #f57f7f;
}
.students .student-data{
    border:1px solid red;
    height:calc(100% - 50px);
  
}